{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Djangoat</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="icon" href="{% static 'img/favicon.png' %}" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}">Djangoat</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'game_ini' %}">Game</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
	{% block base_content %}{% endblock %}
	</div>
</body>
</html>