{% extends 'game/base.html' %}

{% block base_content %}
<div class="row">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<h1>Djangoat</h1>
		<p>O jogo Djangoat é uma versão do jogo da “porta dos desesperados” ou do “Problema de Monty Hall”. Consiste em 3 portas nas quais atrás de uma conterá um prêmio e nas outras duas haverá uma cabra (goat), o objetivo do jogador será acertar a porta na qual o prêmio estará escondido.</p>

		<p>Primeiramente o jogador deve escolher uma das 3 portas (porta 1, porta 2 ou porta 3), logo em seguida uma outra porta, que não a escolhida e que não contenha o prêmio, será aberta e indicará que um dos goats estava atrás dela. Em seguida, é dada a opção do jogador trocar a porta escolhida para a outra porta que permanece fechada. Após a resposta do jogador, as portas fechadas são abertas e é revelado onde o outro goat estava escondido. Deste modo, sabe-se e é informado caso o jogador tenha ganhado o jogo ou não.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<h3>Trabalho de Redes</h3>
		<p>9167910 - Carlos A. Schneider Junior</p>
		<p>8479318 - Idadora M. Mendes</p>
		<p>8517032 - Laís Helena C. de Miranda</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-8 col-md-offset-2">
		<p><a class="btn btn-primary" href="{% url 'game_reset' %}">Jogar!</a></p>
	</div>
</div>
{% endblock %}

